<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Liste des joueurs</title>
        <link rel="stylesheet" th:href="@{/css/allPlayersForm.css}">
    </head>
    <body>
        <div class="container">
            <div class="logo-container">
                <img th:src="@{/images/istic.png}" alt="Logo">
            </div>
            <h2>Liste des joueurs</h2>

            <!-- Ajouter un joueur -->
            <div class="actions">
                <a th:href="@{/view/player/form}" class="add-btn">+ Ajouter un joueur</a>
            </div>

            <div class="card-grid">
                <div class="card" th:each="player : ${players}">
                    <h3 th:text="${player.name}"></h3>
                    <p><strong>Email:</strong> <span th:text="${player.email}"></span></p>
                    <p><strong>Role:</strong> <span th:text="${player.role}"></span></p>

                    <form th:action="@{/teacher/player/delete}" method="post">
                        <input type="hidden" th:name="id" th:value="${player.id}" />
                        <button type="submit" class="delete-btn">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
